//silence-is-golden
main{
    .hero{
        color: $white;
        margin-bottom: 130px;
        background-image: url('../../assets/hero-bg2.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
        position: relative;
        &-slides-container{
            .hero-slide{
                z-index: -15;
                display: flex;
                height: 800px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
                    opacity: 0.6;
                    z-index: -11;
                }
                &-content{
                    z-index: 99;
                    text-align: center;
                    text-transform: uppercase;
                }
                &_title{
                    @include font-size-height(80px, 97.52px);
                    font-weight: bold;
                    letter-spacing: 0.1em;
                }
                a{
                        z-index: 99;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border: 1px solid $white;
                        border-radius: 50%;
                        margin-top: 240px;
                        position: absolute;
                        bottom: 50px;
                        transition: all 0.3 ease-in-out;
                        &:hover{
                            transform: scale(1.05);
                            img{
                                transform: scale(1.05);
                            }
                        }
                        img{
                            width: 10px;
                            height: 17px;
                    }
                }
            }
        }
        .slick-dots{
            position: absolute;
            list-style-type: none;
            top: 295px;
            right: 52px;
            button{
                box-sizing: border-box;
                display: block;
                width: 10px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid #fff;
                text-indent: -2122131px;
                background: transparent;
                margin-bottom: 40px;
                cursor: pointer;
                transition: all .4s ease-in-out;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.6);
                }
            }
            .slick-active button{
                background: #fff  !important;
            }
        }
    }

    .about-us{
        .about-us__title h2{
            @include style-section-title;       
            margin-bottom: 120px;
        }
        .flex-container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 200px;
            height: 527px;
        }
        &_img{
            margin-right: 70px;
            width: 630px;
           // height: 955px;
            position: relative;
            &:before{
                content: '';
                width: 80%;
                height: 100%;
                background:  #55B7FF;
                display: block;
                position: absolute;
                top:-60px;
                left: -260px;
                z-index: -2;
            }
        }
        &-content{
            width: 470px;
            h4{
                @include style-h4;
                @include font-size-height(22px, 26.82px);
            }
            h2{
                @include style-h2;
                @include font-size-height(44px, 53.64px);
                margin-bottom: 19px;
            }
            p{
                color: $primary-color;
                @include font-size-height(18px, 30px);
                margin-bottom: 41px;
                font-family: $open-sans;
            }
            a{
                @include do-btn;
            }
            .address{
                clear: both;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                top: 60px;
                p{
                    font-style: italic;
                    @include font-size-height(15px, 20px);
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
        .flex-container:last-child{
            flex-direction: row-reverse;
            .about-us_img{
                margin-left: 70px;
                &:before{
                    background:  #7E5AFF; 
                    left: 260px;        
                }
            }
           
        }
    }


    .projects{
        margin-bottom: 170px;
        padding-top: 120px;
        padding-bottom: 20px;
        background: url(../../assets/projects-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 1035px;
        h2{
            color: $white;
            margin-bottom: 89px;
            @include style-section-title;
            &:before{
                background: #fff;
            }
        }
        .pojects-slider-container{
            display: flex;
            justify-content: space-between;
            .slick-slide {
                margin-left:30px;
              }
            .slick-list {
                margin-left:-30px;
              }
              .slick-dots{
                list-style-type: none;
                display: flex;
                position: absolute;
                top: calc(100% + 60px);
                left: calc(50% - 105px);
                button{
                    box-sizing: border-box;
                    display: block;
                    width: 10px;
                    height: 14px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    text-indent: -2122131px;
                    background: transparent;
                    margin-right: 40px;
                }
                .slick-active button{
                    background: #fff  !important;
                }
            }
            .article{
                width: 370px;
                height: 520px;
                background: $white;
                &-info{
                    padding: 0 20px;
                    h4{
                        @include style-h4;
                        @include font-size-height(22px, 26.82px);
                        font-weight: bold; 
                        margin-top: 30px;
                        margin-bottom: 15px;
                    }
                    p{
                        color: $primary-color;
                        @include font-size-height(18px, 30px);
                        font-family: $open-sans;
                        margin-bottom: 39px;
                    }
                    &-creator-info{
                        display: flex;
                        align-items: center;
                        color: $primary-color;
                        img{
                            border-radius: 50%;
                            margin-right: 20px;
                        }
                        h5{
                            @include font-size-height(18px, 21.94px);
                            margin-bottom: 6px;
                        }
                        span{
                            color: #55B7FF;
                            @include font-size-height(14px, 17.07px);
                        }
                    }
                }
            }

        }
        
    }
    .gallery{
        margin-bottom: 140px;
        h2{
            @include style-section-title;
            margin-bottom: 89px;
        }

        &-grid-container {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
            grid-template-areas:
              "left-side img1 img2"
              "left-side img3 img4";
          }
          .left-side { grid-area: left-side; }
          .img1 { grid-area: img1; }
          .img2 { grid-area: img2; }
          .img3 { grid-area: img3; }
          .img4 { grid-area: img4; }
          &-btn-container{
             display: flex;
             justify-content: center;
              a{
                @include do-btn;
                margin-top: 60px;
            }
          }
    }
}
