//silence-is-golden
main{
    .hero{
        color: $white;
        &-slides-container{
            .hero-slide{
                background-image: url('../../assets/hero-bg2.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 800px;
                position: relative;
                z-index: -15;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
                    opacity: 0.6;
                    z-index: -11;
                }
                &-content{
                    z-index: 99;
                    text-align: center;
                    text-transform: uppercase;
                }
                &_title{
                    @include font-size-height(80px, 97.52px);
                    font-weight: bold;
                    letter-spacing: 0.1em;
                }
                a{
                        z-index: 99;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border: 1px solid $white;
                        border-radius: 50%;
                        margin-top: 240px;
                        position: absolute;
                        bottom: 50px;
                        img{
                            width: 10px;
                            height: 17px;
                    }
                }
            }
        }
        .slick-dots{
            position: absolute;
            list-style-type: none;
            top: 295px;
            right: 52px;
            button{
                box-sizing: border-box;
                display: block;
                width: 10px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid #fff;
                text-indent: -2122131px;
                background: transparent;
                margin-bottom: 40px;
            }
            .slick-active button{
                background: #fff  !important;
            }
        }
    }

    .about-us{
        margin-top: 100px;
        &_title{
            text-align: center
        }
        &_title h2{
            @include style-h2;
            @include font-size-height(44px, 53.64px);
            margin-bottom: 150px;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 100px;
                background: $primary-color;
                height: 1px;
                position: absolute;
                top: -30px;
                left: calc(50% - 50px);
            }
        }
        .flex-container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 200px;
        }
        &_img{
            margin-right: 70px;
            width: 630px;
           // height: 955px;
            position: relative;
            &:before{
                content: '';
                width: 100%;
                height: 100%;
                background:  #55B7FF;
                display: block;
                position: absolute;
                top:-60px;
                left: -260px;
                z-index: -2;
            }
        }
        &-content{
            width: 470px;
            h4{
                @include style-h4;
                @include font-size-height(22px, 26.82px);
            }
            h2{
                @include style-h2;
                @include font-size-height(44px, 53.64px);
                margin-bottom: 19px;
            }
            p{
                color: $primary-color;
                @include font-size-height(18px, 30px);
                margin-bottom: 41px;
                font-family: $open-sans;
            }
            a{
                @include do-btn;
            }
            .address{
                clear: both;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                top: 60px;
                p{
                    font-style: italic;
                    @include font-size-height(15px, 20px);
                    img{
                        margin-right: 10px;
                    }
                }
            }
        }
        .flex-container:last-child{
            flex-direction: row-reverse;
            .about-us_img{
                margin-left: 70px;
                &:before{
                    background:  #55B7FF; 
                    left: 260px;        
                }
            }
           
        }
    }
}
